table {
    border: 1px solid #aaa;
    border-collapse: collapse;
}
thead {
    background-color: #2196F3;
    color: white;
}
table > caption {
    font-style: italic;
    margin-bottom: 10px;
}
th, td {
    padding: 5px;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #aaa;
}
tr:nth-child(odd) > td {
    background-color: #EAF6FF;
}
.specialCls {
    background-color: green;
    color: white;
    text-align: center;
}
.title-main {
    text-align: center;
}